main {
    margin: 20px 0px 0px 0px;
}

table {
    width: inherit;
}

th, td {
    padding: 5px;
    text-align: center;
}

th {
    background-color: darkslategray;
    color: greenyellow;
}

td {
    background-color: lightgrey;
}

#add-new-user-btn {
    font-style: normal;
    background-color: darkslategray;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    margin: 20px 0px 0px 0px;
    width: 15%;
    text-align: center;
}

main>.container {
    display: flex;
    flex-direction: column;
}

td>a {
    background-color: darkslategray;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
}